@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #131414, #2b2b30);

  overflow-x: hidden;
}
